interactions:
- request:
    body: '{"ids": ["DOI:10.1002/hbm.24703"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.semanticscholar.org/graph/v1/paper/batch?fields=externalIds
  response:
    body:
      string: '[{"paperId": "185cdce001c430556cfc3721f86a91849d20856d", "externalIds":
        {"MAG": "2954579665", "DOI": "10.1002/hbm.24703", "CorpusId": 195786675, "PubMed":
        "31268615"}}]

        '
    headers:
      Content-Type:
      - application/json
      x-amz-apigw-id:
      - T51myEGiPHcEpuw=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '169'
      x-amzn-Remapped-Date:
      - Wed, 12 Nov 2025 00:07:32 GMT
      x-amzn-Remapped-Server:
      - gunicorn
      x-amzn-RequestId:
      - ee18070f-9d85-4c14-a05a-3f27253dc6a9
    status:
      code: 200
      message: OK
version: 1
