interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=pmid%3A31268615&mailto=test%40example.com&per_page=100&select=ids
  response:
    body:
      string: '{"meta":{"count":1,"db_response_time_ms":163,"page":1,"per_page":100,"groups_count":null},"results":[{"ids":{"openalex":"https://openalex.org/W2954579665","doi":"https://doi.org/10.1002/hbm.24703","mag":"2954579665","pmid":"https://pubmed.ncbi.nlm.nih.gov/31268615"}}],"group_by":[]}

        '
    headers:
      Content-Type:
      - application/json
      RateLimit-Limit:
      - '5'
      RateLimit-Remaining:
      - '9'
      RateLimit-Reset:
      - '1'
    status:
      code: 200
      message: OK
version: 1
